*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Mobile designs */
body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

main{
    display:flex;
    flex-direction: column;
    max-width: 85%;
    margin: 50px auto;
    min-height: 60vh;
    border-radius: 8px;
    background-color: white;
}
/* Main Image */
.img-cont{
    min-height: 23vh;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}

/* main content */
.content{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px 0px 25px;
}
.content h4{
    color:  hsl(217, 19%, 35%);
    font-size: 1.05rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.content p{
    font-size: 0.865rem;
    line-height: 1.3rem;
    color:  hsl(214, 17%, 51%)
}

/* Profile container and Icons container */
.profile-container, .icons-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;   
    place-content:center ;
    min-height: 8vh;
   padding: 10px;
}
.icons-container{
    background-color: hsl(217, 19%, 35%); 
    border-radius: 0px 0px 8px 8px;
    color: white;
    display: none;
}

/* content - Profile */
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.profile p span{
    color:  hsl(217, 19%, 35%);
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.profile p{
    color: hsl(212, 23%, 69%);

}

/* share icon */
.icon, .icon-after{
    place-self: end;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.icon svg, .icon-after svg{
    pointer-events: none;
}

/* profile social icons */
.profile-icons{
    display: flex;
    justify-content: space-evenly;
    color: white;
    min-width: 100%;
}
.profile-icons span{
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    color: hsl(212, 23%, 69%);
}
.icon-after{
    background-color:  hsl(214, 17%, 51%);
    color: white;
    
}

